textarea{
  background: transparent;
  color: white;
}
h2{
  text-align: center;
}
#socialmedia{
  text-align: center;
}
#socialmedia{
  border: none;
}
#contact{
  border: none;
}
#header{
  border: none;
}
#services{
  border: none;
}
