textarea{
  background: transparent;
  color: white;
}
h2{
  text-align: center;
}
#socialmedia{
  text-align: center;
}
#contact{
  border: none;
}
#header{
  border: none;
}
#services{
  border: none;
}
.form{
  background-color: transparent;
}
#text-hidden{
  display: none;
  text-align: center;
}
#text-hidden1{
  display: none;
  text-align: center;
}
#text-hidden2{
  display: none;
  text-align: center;
}
h5{
  text-align: center;
  font-weight: bold;
}
#messageReceipt {
  display: none;
}
.hoverEffect{
    display: none;
    border:1px solid #000;
    height:150px;
    width:200px;
    margin-left:10px;
    background-color: white;
    position: absolute;
    background: transparent;
    text-align: center;
}

a:hover + div {
    display: block;
}
