textarea{
  background: transparent;
  color: white;
}
h2{
  text-align: center;
}
#socialmedia{
  text-align: center;
}
#contact{
  border: none;
}
#header{
  border: none;
}
#services{
  border: none;
}
.form{
  background-color: transparent;
}
#text-hidden{
  display: none;
}
#text-hidden1{
  display: none;
}
